/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui;
  background: hsl(200 15% 93%);
}
